/* CSS File used for styling the project*/

#mainPage{
    -fx-background-image: url("mainMenuBackground.jpg");
    -fx-background-size: cover;
}

#mainGamePane{
    -fx-background-color:rgba(0, 100, 100, 0.5);
    -fx-background-size: cover;
}

.label{
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-family: Verdana;
	-fx-font-size: 12px;	
}

#welcomeText{
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-family: Verdana;
	-fx-font-style: italic;
	-fx-font-size: 30px;	
}

.combo-box{
	-fx-background-color:rgba(0, 100, 100, 0.5); 
	-fx-background-radius: 10;
}

/*Edit Normal Cell color */
.combo-box .list-cell{
	-fx-background-color:rgba(0, 100, 100, 0.5); 
	-fx-text-fill: white;
}

/*Edit Cell Color Only when cursor hover cell */
.combo-box .list-cell:hover{
	-fx-background-color: blue;
}

/*Edit Cell Color Only when selected */
/*.combo-box .list-cell:selected{
	-fx-background-color:blue; 
}*/

.text-field {
	-fx-background-color:rgba(0, 100, 100, 0.5); 
	-fx-background-radius: 10;
	-fx-text-fill: white;
	-fx-text-font-weight: bold;
}

.button {
    -fx-background-color: ghostwhite;
    -fx-background-radius:10;
}

#quitButton {
	-fx-background-color: orangered;
	-fx-background-radius:10;
}

#timerLabel {
	-fx-text-fill: red;
    -fx-font-size: 4em;
}

#scoreBoardTitle {
	-fx-text-fill: ghostwhite;
	-fx-font-weight: bold;
	-fx-font-family: Serif;
	-fx-font-size: 45px;
}

#timerText {
	-fx-text-fill: ghostwhite;
	-fx-font-weight: bold;
	-fx-font-family: Serif;
	-fx-font-size: 25px;
}

#playersPoints {
	-fx-text-fill: ghostwhite;
	-fx-font-weight: bold;
	-fx-font-family: Serif;
	-fx-font-size: 23px;
}

